In [1]:
import pandas as pd
import numpy as np 
import matplotlib as plt

In [2]:
file = pd.read_excel("Section2_Formulas101cp.xlsx", sheet_name="Formula Syntax")

In [14]:
file.head(   )

,Name,Street Address,City,State,Zip,Birth Date,Birth Year,Telephone,Area Code,E-mail,Username
0,Jennifer Mcgrath,985 Eagle Street,Fieldon,IL,62031,1999-07-27,1999,618-376-3064,618,JenniferJMcGrath99@gmail.com,JenniferJMcGrath99
1,Chad Lewis,267 Francis Mine,Downieville,CA,95936,1978-11-22,1978,530-289-3807,530,ChadSLewis51@aol.com,ChadSLewis51
2,Susan Rodriguez,4620 Williams Mine Road,Maplewood,NJ,7040,1957-12-24,1957,908-264-1670,908,SusanSRodriguez71@hotmail.com,SusanSRodriguez71
3,Wayne Nielson,1829 White Pine Lane,Dahlgren,VA,22448,1997-12-19,1997,540-644-7658,540,WayneMNielson17@aol.com,WayneMNielson17
4,John Depaul,1165 Victoria Street,Baton Rouge,LA,70815,1967-08-27,1967,225-274-4802,225,JohnDDepaul47@gmail.com,JohnDDepaul47

In [13]:
# insert birth year from "Birth Date" column
file["Birth Year"] = pd.DatetimeIndex(file["Birth Date"]).year

In [20]:
# insert area code from phone number first 3 digit
file['Area Code'] = file['Telephone'].str[:3]
file.head(1)

,Name,Street Address,City,State,Zip,Birth Date,Birth Year,Telephone,Area Code,E-mail,Username
0,Jennifer Mcgrath,985 Eagle Street,Fieldon,IL,62031,1999-07-27,1999,618-376-3064,618,JenniferJMcGrath99@gmail.com,JenniferJMcGrath99

In [26]:
file["Username"] = file["E-mail"].str.split("@").str[0]
file.head(10)

,Name,Street Address,City,State,Zip,Birth Date,Birth Year,Telephone,Area Code,E-mail,Username
0,Jennifer Mcgrath,985 Eagle Street,Fieldon,IL,62031,1999-07-27,1999,618-376-3064,618,JenniferJMcGrath99@gmail.com,JenniferJMcGrath99
1,Chad Lewis,267 Francis Mine,Downieville,CA,95936,1978-11-22,1978,530-289-3807,530,ChadSLewis51@aol.com,ChadSLewis51
2,Susan Rodriguez,4620 Williams Mine Road,Maplewood,NJ,7040,1957-12-24,1957,908-264-1670,908,SusanSRodriguez71@hotmail.com,SusanSRodriguez71
3,Wayne Nielson,1829 White Pine Lane,Dahlgren,VA,22448,1997-12-19,1997,540-644-7658,540,WayneMNielson17@aol.com,WayneMNielson17
4,John Depaul,1165 Victoria Street,Baton Rouge,LA,70815,1967-08-27,1967,225-274-4802,225,JohnDDepaul47@gmail.com,JohnDDepaul47
5,Joseph Martinez,3866 Mattson Street,Portland,OR,97205,1960-12-10,1960,503-402-2075,503,JosephJMartinez96@aol.com,JosephJMartinez96
6,Diane Henry,3902 Valley Lane,Austin,TX,78749,1977-11-01,1977,512-633-7667,512,DianeKHenry868@gmail.com,DianeKHenry868
7,Veronica Comerford,3932 Franklin Street,Tuskegee,AL,36083,1990-12-15,1990,334-725-7343,334,VeronicaMComerford70@gmail.com,VeronicaMComerford70
8,Beverly Nixon,3480 Dancing Dove Lane,Long Island City,NY,11101,1962-03-05,1962,347-626-0700,347,BeverlyDNixon93@aol.com,BeverlyDNixon93
9,Ivan Layton,211 Hardesty Street,Albany,NY,12207,1968-08-29,1968,518-431-7602,518,IvanSLayton70@gmail.com,IvanSLayton70